* {
    margin: 0;
    padding: 0;
}
/*Body style start*/
body {
    background-color: rgba(184,163,96, 0.20);
    color: black;
    font-family: 'Times New Roman', Times, serif
}
/*Body style end*/

/*header style start*/
header {
    padding: 10px 35px;
    background-image: url("../Image/Hero-1.JPG");
    display: flex ;
    background-size: cover ;
    background-position: 80%;
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    
    
}
header h1 a {
    padding: 5%;
    background-color: rgba(0,0,0,0.5) ;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
}
header nav {
    margin: 7px 0;
    margin-left: auto;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 100px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    font-size: 10px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover {
    background:rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
    text-shadow: none;
}
/*header style end*/

/*Hero style start*/
.hero   {
    height: 600px;
    background-image: url("../Image/Hero-1.JPG");
    background-size: cover;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-end;
    background-position: 100% ;
    flex-direction: row-reverse;
    
}
.text h2 {
    margin:80px 80px; 
    padding: 10px;   
    background-color: rgba(0,0,0,0.5);
    font-size: 40px;
    color: white;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    }
/*Hero style end*/

/*About Me style*/
.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.info h2 {
    font-size: 60px;
    margin: 50px 60px 0 200px ;
    text-align: right;
    color:#540806;
    border-right: 5px solid #540806;
    padding: 10px;
}
.me {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info article {
    font-size: 20px;
    margin: 50px 100px 0 0;
    color: #540806;
}
/*about me stayle ends*/

/*Work style start*/

.sample {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.sample h2 {
    font-size: 60px;
    margin: 50px 60px 0 212px ;
    text-align: right;
    color:#540806;
    border-right: 5px solid #540806;
    padding: 10px;
}
.album  {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
.effict {
    width: 100%;
    height: 100%;
    position: relative;
    border:solid 6px rgba(84, 8, 6,0.5);
}
.effict .album-photo {
    display: flex;
}
.effict .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.effict .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 5% 5%;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.effict:hover .img img {
    transform: scale(1.5);
}

.w-1 {
    grid-column: span 2;
    grid-row:span 2 ; 
}
.w-2 {
    grid-row: span 1;
}

.effict .text {
    position: absolute;
    margin: -90px 0 0 0px;
    background-color:rgba(84, 8, 6,0.5);
    font-size: 20px;
    color: white;
    padding:10px 10px 10px 50px;
    
   
}
/*Work style end*/

/*Contact Me style start*/

.Contact-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Contact-me h2 {
    font-size: 60px;
    margin: 50px 30px 0 72px ;
    text-align: right;
    color:#540806;
    border-right: 5px solid #540806;
    padding: 10px;
}
.my-contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:90px 100px 0 0;
    flex-direction: row;
}
.my-contact-info .phone {

    color: brown;
    border-bottom: solid 1px brown;
    font-size: 25px;
}
.my-contact-info .e-mail {
    margin-left: 15px;
    color: brown;
    border-bottom: solid 1px brown;
    font-size: 25px;
}
.my-contact-info .linkedin{
    margin-left: 25px;
    color: brown;
    border-bottom: solid 1px brown;
    font-size: 25px;
}
.my-contact-info .github {
    margin-left: 15px;
    color: brown;
    border-bottom: solid 1px brown;
    font-size: 25px;
}
.Contact-me .hline {
    margin-left: 50px;
    background-color:  rgba(184,163,96, 0.0);
    padding: 20px;
}

@media screen and (min-width: 1200px) {

body .content {
    display: flex;
    flex-direction: column;
    align-items: end;
}
body .content .Contact-me h2 {
    flex-direction: column;
}
body .content .Contact-me {
    margin: -14px;
}

}
@media screen and (max-width: 980px) {
    
    body .content {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    body .content .Contact-me {
        margin-left: 83px;
    }

    body .content .Contact-me .my-contact-info {
        display: flex;
        width: 100%;
    }
    body .content .Contact-me .my-contact-info div {
        font-size: 15px;

    }
    body .Contact-me .my-contact-info a {
        font-size: 15px;
    }
    
    .effict .text {
        position: absolute;
        margin: -50px 0 0 0px;
        background-color:rgba(84, 8, 6,0.5);
        font-size: 15px;
        color: white;
        padding:10px;
    }
        

}
@media screen and (max-width: 768px) {
  body .content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
    header {
       width: 100%;
        padding: 10px 35px;
        background-image: url("../Image/Hero-1.JPG");
        display: flex ;
        background-size: cover ;
        background-position: 80%;
        z-index: 9999;
        position: static;
        top: 0;
        flex-direction: column;
        align-items: center;
        
   }
   header h1 a {
    padding: 1%;
    background-color: rgba(0,0,0,0.5) ;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    text-decoration: none;
   }
   header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 125px;

}
    .hero {
       width: 100%;
   }

      .info {
        align-items: center;  
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .info h2 {
        font-size: 60px;
        margin: 0px;
        width: 75%;
        text-align: center;
        color:#540806;
        border-bottom: 5px solid #540806;
        border-right: 0px;

    }
    .info article {
        align-items: center;
        width: 75%;
        font-size: 15px;
        margin: 50px 100px 0 0;
        color: #540806;
        text-align: center;
    }
    .sample {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .sample h2 {
        font-size: 60px;
        margin: 0px;
        width: 75%;
        text-align: center;
        color:#540806;
        border-bottom: 5px solid #540806;
        border-right: 0px;
    }
    .album  {
        width: 80%;
        margin : 40px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
    }
    
    .Contact-me {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Contact-me h2 {
        font-size: 60px;
        margin: 0px;
        width: 75%;
        text-align: center;
        color:#540806;
        border-bottom: 5px solid #540806;
        border-right: 0px;
    }
    
}
