* {
    margin: 0;
    padding: 0;
}
/*Body style start*/
body {
    background-color: rgba(0,255,255,0.35);
    color: black;
    font-family: 'Times New Roman', Times, serif
}
/*Body style end*/

/*header style start*/
header {
    padding: 10px 35px;
    background-image: url("../Image/Hero.JPG");
    display: flex ;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    
    
}
header h1 a {
    padding: 5%;
    background-color: rgba(0,0,0,0.5) ;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
}
header nav {
    margin: 7px 0;
    margin-left: auto;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 100px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    font-size: 10px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover {
    background:rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
    text-shadow: none;
}
/*header style end*/

/*Hero style start*/
.hero   {
    height: 600px;
    background-image: url("../Image/Hero.JPG");
    background-size: cover;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-end;
    background-position: 80%;
    flex-direction: row-reverse;
    
}
.text h2 {
    margin:80px 80px; 
    padding: 10px;   
    background-color: rgba(0,0,0,0.5);
    font-size: 40px;
    color: white;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    }
/*Hero style end*/

/*About Me style*/
.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.info h2 {
    font-size: 60px;
    margin: 50px 60px 0 200px ;
    text-align: right;
    color: #1F4C85;
    border-right: 5px solid #1F4C85;
    padding: 10px;
}
.me {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info article {
    font-size: 20px;
    margin: 50px 100px 0 0;
    color: #1F4C85;
}
/*about me stayle ends*/