* {
    margin: 0;
    padding: 0;
}
/*Body style start*/
body {
    background-color: rgba(184,163,96, 0.20);
    color: black;
    font-family: 'Times New Roman', Times, serif
}
/*Body style end*/

/*header style start*/
header {
    padding: 10px 35px;
    background-image: url("../Image/Hero-1.JPG");
    display: flex ;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    
    
}
header h1 a {
    padding: 5%;
    background-color: rgba(0,0,0,0.5) ;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
}
header nav {
    margin: 7px 0;
    margin-left: auto;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 100px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    font-size: 10px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover {
    background:rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
    text-shadow: none;
}
/*header style end*/

/*Hero style start*/
.hero   {
    height: 600px;
    background-image: url("../Image/Hero-1.JPG");
    background-size: cover;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-end;
    background-position: 100% ;
    flex-direction: row-reverse;
    
}
.text h2 {
    margin:80px 80px; 
    padding: 10px;   
    background-color: rgba(0,0,0,0.5);
    font-size: 40px;
    color: white;
    text-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    }
/*Hero style end*/

/*About Me style*/
.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.info h2 {
    font-size: 60px;
    margin: 50px 60px 0 200px ;
    text-align: right;
    color:#540806;
    border-right: 5px solid #540806;
    padding: 10px;
}
.me {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info article {
    font-size: 20px;
    margin: 50px 100px 0 0;
    color: #540806;
}
/*about me stayle ends*/

/*Work style start*/

.sample {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.sample h2 {
    font-size: 60px;
    margin: 50px 60px 0 212px ;
    text-align: right;
    color:#540806;
    border-right: 5px solid #540806;
    padding: 10px;
}
.album  {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
.effict {
    width: 100%;
    height: 100%;
    position: relative;
}
.effict .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.effict .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 5% 5%;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.effict:hover .img img {
    transform: scale(1.5);
}

.w-1 {
    grid-column: span 2;
    grid-row:span 2 ; 
}
.w-2 {
    grid-row: span 1;
}